<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon.png")">
        <title>Mell Plus Informatique</title>
            <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
            <!-- Menu CSS -->
        <link href="@routes.Assets.versioned("bower_components/sidebar-nav/dist/sidebar-nav.min.css")" rel="stylesheet">
            <!-- toast CSS -->
        <link href="@routes.Assets.versioned("bower_components/toast-master/css/jquery.toast.css")" rel="stylesheet">
            <!-- morris CSS -->
        <link href="@routes.Assets.versioned("bower_components/morrisjs/morris.css")" rel="stylesheet">
            <!-- animation CSS -->
        <link href="@routes.Assets.versioned("css/animate.css")" rel="stylesheet">
            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("css/style.css")" rel="stylesheet">
            <!-- color CSS -->
        <link href="@routes.Assets.versioned("css/colors/default-dark.css")" id="theme" rel="stylesheet">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>
    <body>
            <!-- Preloader -->
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <div id="wrapper">
                <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                    <div class="top-left-part"><a class="logo" href="index.html"><b><!--This is dark logo icon--> <img src="@routes.Assets.versioned("images/eliteadmin-logo.png")" alt="home" class="dark-logo" /> <!--This is light logo icon--> <img src="@routes.Assets.versioned("images/eliteadmin-logo-dark.png")" alt="home" class="light-logo" /></b> <span class="hidden-xs"><!--This is dark logo text--> <img src="@routes.Assets.versioned("images/eliteadmin-text.png")" alt="home" class="dark-logo" /> <!--This is light logo text--> <img src="@routes.Assets.versioned("images/eliteadmin-text-dark.png")" alt="home" class="light-logo" /></span></a></div>
                    <ul class="nav navbar-top-links navbar-left hidden-xs">
                        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                    </ul>
                </div>
            </nav>
                <!-- Left navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse slimscrollsidebar">

                    <ul class="nav" id="side-menu">
                        <li class="nav-small-cap m-t-10">--- Main Menu</li>
                        <li> <a href="/" class="waves-effect active"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Tableau de bord </span></a></li>
                        <li> <a href="/produits" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">Produits</span></a></li>
                        <li> <a href="/clients" class="waves-effect"><i data-icon="B" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">Clients</span></a></li>

                        <li class="nav-small-cap m-t-10">--- Factures</li>
                        <li> <a href="/factures-pr" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">Proforma </span></a></li>
                        <li> <a href="/factures-bl" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">Bon de livraison </span></a></li>
                        <li> <a href="/factures--df" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">Définitive </span></a></li>

                        <li class="nav-small-cap m-t-10">--- Administration</li>
                        <li> <a href="/utilisateurs" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">Utilisateurs </span></a></li>
                        <li><a href="/deconnexion" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
                    </ul>
                </div>
            </div>
                <!-- Left navbar-header end -->
                <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row bg-title">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="page-title">Tableau de bord</h4>
                        </div>
                    </div>
                        <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="white-box">
                                <div class="row row-in">
                                    <div class="col-lg-3 col-sm-6 row-in-br">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"> <i data-icon="E" class="linea-icon linea-basic" ></i>
                                                <h5 class="text-muted vb">MYNEW CLIENTS</h5>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-danger">23</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe01b;"></i>
                                                <h5 class="text-muted vb">NEW PROJECTS</h5>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-megna">169</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 row-in-br">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
                                                <h5 class="text-muted vb">NEW INVOICES</h5>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-primary">157</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6  b-0">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe016;"></i>
                                                <h5 class="text-muted vb">All PROJECTS</h5>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-success">431</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--row -->
                        <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title">Situation en temps réel</h3>
                                <ul class="list-inline text-right">
                                    <li>
                                        <h5><i class="fa fa-circle m-r-5" style="color : #00bfc7 ;"></i>iPhone</h5>
                                    </li>
                                    <li>
                                        <h5><i class="fa fa-circle m-r-5" style="color : #fb9678 ;"></i>iPad</h5>
                                    </li>
                                    <li>
                                        <h5><i class="fa fa-circle m-r-5" style="color : #9675ce ;"></i>iPod</h5>
                                    </li>
                                </ul>
                                <div id="morris-area-chart" style="height : 340 px ;"></div>
                            </div>
                        </div>
                    </div>

                </div>
                    <!-- /.container-fluid -->
                <footer class="footer text-center"> 2016 &copy;
                    Mell Plus Informatique. Designed by <a href="http://www.apkode.net">APKode.net</a> </footer>
            </div>
                <!-- /#page-wrapper -->
        </div>
            <!-- /#wrapper -->
            <!-- jQuery -->
        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
            <!-- Menu Plugin JavaScript -->
        <script src="@routes.Assets.versioned("bower_components/sidebar-nav/dist/sidebar-nav.min.js")"></script>
            <!--slimscroll JavaScript -->
        <script src="@routes.Assets.versioned("js/jquery.slimscroll.js")"></script>
            <!--Wave Effects -->
        <script src="@routes.Assets.versioned("js/waves.js")"></script>
            <!--Counter js -->
        <script src="@routes.Assets.versioned("bower_components/waypoints/lib/jquery.waypoints.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/counterup/jquery.counterup.min.js")"></script>
            <!--Morris JavaScript -->
        <script src="@routes.Assets.versioned("bower_components/raphael/raphael-min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/morrisjs/morris.js")"></script>
            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.versioned("js/custom.js")"></script>
        <script src="@routes.Assets.versioned("js/dashboard1.js")"></script>
            <!-- Sparkline chart JavaScript -->
        <script src="@routes.Assets.versioned("bower_components/jquery-sparkline/jquery.sparkline.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/jquery-sparkline/jquery.charts-sparkline.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/toast-master/js/jquery.toast.js")"></script>
            <!--Style Switcher -->
        <script src="@routes.Assets.versioned("bower_components/styleswitcher/jQuery.style.switcher.js")"></script>
    </body>
</html>
